.card-container{
    background: rgba(0, 0, 0, 0.14) no-repeat fixed left bottom;
    position: absolute; 
    top: -120%; 
    right: -120%;
    z-index: 5000;
    width: 120%;
    height: 120%;
    border-radius: 0 0 20% 20%;
    transition: 1s all ease-in;
}

.favorite,
.no-favorite{
    width: 3.5em;
    height: 3em;
    background: #fff;
    color: #000; 
    position: absolute; 
    top: -50%; 
    right: -50%;
    cursor: pointer;
    transition: .8s all ease-in-out;
    border-radius: 0 0 0 50%;
    z-index: 5001;
}

.no-favorite svg{
    font-size: 1.5em;
    margin: .45em 0 0 0.75em;
}

.no-favorite:hover svg{
    font-size: 2em;
    margin: .25em 0 0 0.35em;
}

.favorite svg{
    color: red;
    font-size: 2em;
    margin: .25em 0 0 0.35em;
}

.favorite:hover svg{
    color: rgb(255, 106, 106);
    font-size: 1.5em;
    margin: .45em 0 0 0.75em;
}

@media (max-width: 768px){
    .card-container{
        width: 0;
        height: 0;
    }
}